.mission-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    padding: 1rem;
  }
  
  .mission-card {
    background-color: #b3e5fc; /* Light blue background */
    width: 300px;
    cursor: pointer;
    transition: box-shadow 0.3s;
  }
  
  .mission-card:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  }
  h1 {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.8rem;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.4rem;
  }
  