<div *ngIf="loading" style="text-align: center; margin-top: 2rem;">
    <mat-spinner></mat-spinner>
  </div>
  
  <div *ngIf="mission && !loading">
    <mat-card>
      <img mat-card-image [src]="mission.links.mission_patch_small" alt="Mission Patch" />
      <mat-card-title>{{ mission.mission_name }} ({{ mission.launch_year }})</mat-card-title>
      <mat-card-content>
        <p><strong>Flight Number:</strong> {{ mission.flight_number }}</p>
        <p><strong>Rocket:</strong> {{ mission.rocket.rocket_name }} ({{ mission.rocket.rocket_type }})</p>
        <p><strong>Details:</strong> {{ mission.details || 'No details available.' }}</p>
        <p><a [href]="mission.links.article_link" target="_blank">Article</a></p>
        <p><a [href]="mission.links.wikipedia" target="_blank">Wikipedia</a></p>
        <p><a [href]="mission.links.video_link" target="_blank">Video</a></p>
        <button routerLink="/" style="margin-bottom: 1rem;">← Back to Mission List</button>

      </mat-card-content>
    </mat-card>
  </div>
  